.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    background-color: white;
    box-shadow: .5rem .5rem 1.25rem #888888;
    height: 60rem;
    width: 100rem;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.content {
    flex: 12.5;
}